main {
    background:url(../img/1116286-min.jpg), #000;
    background-size:cover;
    background-repeat: no-repeat;
}

.img-Carousel {
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
}

.text{
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgba(151, 151, 151, 0);
    /**border: 1px solid black;**/
    padding: 50px;
    height: 350px;
}