
.img-Carousel {
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
}

.img-personal{
    width: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    display: inline; 
}

.text{
    width: 50%;
    background-color: blue;

}